{% extends "_layout" %} {% block content %}

<div class="section blog">
	<div class="container">
		<hr>
		<div class="row">

			<div class="three columns">Date: {{ entry.postDate.format('F d, Y') }}</div>
			<div class="two columns">Author: {{ entry.nickname }}</div>
			<div class="seven columns"></div>

			<div class="twelve columns">
				<h1>
					{{ entry.title }}
				</h1>
			</div>

			<div class="twelve columns">
				{{ entry.body }}
			</div>

		</div>
		<hr>
	</div>
</div>


{% endblock %}