<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" type="text/css" href="css/social.css">
</head>

<body>

	<div class="section header">
		<div class="container">
			<div class="row">
				<div class="header-container">
					<header id="header">
						<h1>
							<a href="{{ siteUrl }}">{{ siteName }}</a>
						</h1>
					</header>
				</div>
			</div>
		</div>
	</div>

	{% block content %} {% endblock %}

	<div class="section footer">
		<div class="container">
			<footer id="footer">
				Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with
				<a href="http://craftcms.com">Craft</a>
			</footer>
		</div>
	</div>

</body>

</html>